@import 'variaveis.scss';

:host {

    button {
        width: 100%;
        border: 0;
        padding: 10px 0px 10px 20px;
        border-radius: 5px;
        text-align: left;
        font-weight: 600;
        font-size: .8rem;
        cursor: pointer;
        background-color: $cor-fundo;
    }

    .container {
        align-items: center;
        cursor: pointer;
        padding: 5px 5px;
        
        &:hover {
            background-color: $cor-primaria;
            
            span {
                color: $branco;
            }
        }
    
        img {
            max-width: 40px;
            max-height: 40px;
            border-radius: 50%;
            flex-grow: 0;
        }
    
        span {
            color: $preto-transparente-70;
            flex-grow: 1;
            margin-left: 10px;
            font-weight: 600;
            font-size: .85rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

