@import 'variaveis.scss';

$h-spotify-logo: 120px;
$h-menu-opcoes: 100px;
$m-entre-menus: 10px;
$h-footer-user: 70px;

$h-desconsiderar: calc($h-spotify-logo + $h-menu-opcoes + $h-footer-user); // Irei somar todos os espaços da div do Painel Esquerdo para realizar um calculo de subtração para que assim o menu de playlists possa preencher todo o espaço de maneira dinâmica na página

:host {
    min-width: 300px;
    max-width: 300px;
    min-height: 100vh;
    overflow-y: hidden; // O que passar da div na vertical será escondido
    display: flex;
    flex-direction: column;
    background-color: $cor-fundo2;
    box-shadow: 1px 0px 15px #00000012;

    .menus {
        flex-grow: 1;
        flex-direction: column; // Um item embaixo do outro
        height: 100%;
        padding: 0px 40px 0px 40px;

        .image-container {
            min-height: $h-spotify-logo;

            img {
                width: 70%;
            }
        }

        .menu-container {
            width: 100%;

            &.flex {
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
            }

            &.opcoes {
                min-height: $h-menu-opcoes;
                
                * {
                    margin-bottom: $m-entre-menus;
                }
            }
            
            .divisao {
                border-top: 1px solid $preto-transparente-20;
                width: 300px;
                padding: 0;
                margin: 0;
            }

            .playlist-titulo {
                margin: 10px 0px;
                align-self: flex-start; // Ficar em primeiro
                font-weight: 700;
                font-size: .7rem;
                color: $preto-transparente-30;
            }

            .playlist-scroll {
                width: 100%;
                max-height: calc(95vh - $h-desconsiderar);
                overflow-y: auto;

                &::-webkit-scrollbar{
                    display: none;
                }

                * {
                    margin-bottom: $m-entre-menus;
                }
            }
        }
    }

    .usuario-info {
        flex-grow: 0; // Ela entende a altura da classe como 
        display: block;
        bottom: 0; // Coloca o item embaixo da div pai
        align-self: flex-end; // Assim ele será o último
        height: $h-footer-user;
        width: 100%; // Em relação ao elemento pai
    }
}