$cor-fundo: #FBFEF4; // Cor de fundo do layout. 
$cor-fundo2: #FFF;
$cor-primaria: #37AB00;

$preto-transparente-70: #000000b3;
$preto-transparente-30: #0000004D;
$preto-transparente-20: #00000033;
$preto-transparente-03: #00000008;

$branco: $cor-fundo2;